# IDE files
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

# Other files
**/stream_output.py
# all temporary md files in backend
backend/*.md    
**/*api_key*
**/*.env

# frontend related
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# frontend dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# frontend build output
dist/
dist-ssr/
coverage/
*.local

/cypress/videos/
/cypress/screenshots/

# Python related
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
